<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/head::head"/>
<body>
<header th:replace="fragments/bodyHeader::bodyHeader"/>
<nav th:replace="fragments/navigation::navigation"/>
<!--<div class="col-md-5 mb-2 container-fluid">-->
<!--<div style="background-color: beige">-->
<!--    <div th:each="category:${categories}" th:text="${category}" style="background-color: beige">-->
<!--        <div th:each="product:${products}" th:text="${product}"/>-->


<!--        -->
<!--    </div>-->
<!--</div>-->
<!--<table>-->

<div th:each="category,i:${categories}">
    <div class="row justify-content-center m-4">
        <div class="col text-end"><a th:href="order_management" style="color: beige; text-decoration-line: none;" th:if="${i.index == 0}">주문 관리 ></a></div>
        <h1 class="text-center" style="color : beige" th:text="${category}"></h1>

    </div>
    <div class="card" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-md-9 mt-4 d-flex flex-column align-items-start p-3 pt-0" id="gd">
                <h5 class="flex-grow-0"><b>상품 목록</b></h5>
                <ul class="list-group products">
                    <li class="list-group-item d-flex mt-2" th:each="product,j:${products}" th:if="${product.getValue() == category}" th:id="${j}">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/HKOFQYa.jpeg" alt=""></div>
                        <div class="col">
<!--                        <div class="col" th:if="${product.getValue() == category}">-->
                            <div class="row text-muted" style="font-size: 10px" th:text="${category}"></div>
                            <div class="row" th:text="${product.getKey().getName()}"></div>
                        </div>
                        <div class="col text-center price text-muted" th:text="${product.getKey().getUpdatedAt().toLocalDate()}" style = "font-size: 12px"></div>
                        <div class="col text-center price" th:text="${product.getKey().getPrice()}+'원'" style="font-size: 12px"></div>
                        <div class="col text-center price" th:text="${product.getKey().getQuantity()}" style="font-size: 12px"></div>
                        <div class="col text-end action"><a class="btn btn-small btn-outline-dark" id="updateBtn"; href="" style="font-size: 13px">수정</a></div>
                        <div class="col text-end action"><a class="btn btn-small btn-outline-danger" id="deleteBtn" onclick=deleteProduct(); style="font-size: 13px">삭제</a></div>
                    </li>
                </ul>
            </div>
                    <div class="col-md-3 summary p-3">
                        <div>
                            <h5 class="m-0 p-0"><b>상품 등록</b></h5>
                            <hr>
                        </div>

                        <form id = "productForm" th:action="@{/management}" th:object="${productForm}" method="post">
                            <div class="mb-3">

                                <label class="form-label" >카테고리</label>
<!--                                <input class="form-control mb-1">-->
                                <br>
                                <span th:text="${category}"/>
                                    <input type="hidden" th:value="${category}" th:id="category" th:name="category">
<!--                                <input type="hidden" th:value="${category}">-->
                            </div>
                            <div class="mb-3">
                                <label th:for="productName" class="form-label">상품명</label>
                                <input class="form-control mb-1" type="text" th:field="*{productName}">
<!--                                <input class="form-control mb-1" type="text">-->
                            </div>
                            <div class="mb-3">
                                <label class="form-label" >가격</label>
                                <input type="text" class="form-control mb-1" th:field="*{price}">
<!--                                <input type="number" class="form-control mb-1">-->
                            </div>
                            <div class="mb-3">
                                <label class="form-label">재고</label>
                                <input type="text" class="form-control" th:field="*{quantity}">
<!--                                <input type="number" class="form-control">-->
                            </div>
<!--                            <div>당일 오후 2시 이후의 주문은 다음날 배송을 시작합니다.</div>-->
                        </form>
                        <div class="row pt-2 pb-2 border-top">
<!--                            <h5 class="col">총금액</h5>-->
<!--                            <h5 class="col text-end">15000원</h5>-->
                        </div>
                        <button class="btn btn-dark col-12" type="submit" form="productForm">상품 등록</button>
                    </div>
                </div>
            </div>
</div>
<!--        </div>-->
    <!--            <div th:each="product:${products}">-->
    <!--                <div class="card" th:if="${product.getValue == category}"  style="background-color : wheat; color:black">-->
    <!--                    <span th:text ="${product.getKey().getName()}"></span>-->
    <!--                    <span th:text ="${product.getKey().getDescription()}"></span>-->
    <!--                    <span th:text ="${product.getKey().getPrice()}"></span>-->
    <!--                    <span th:text ="${product.getKey().getQuantity()}"></span>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--</table>-->
    <footer th:replace="fragments/footer::footer"/>
</div>
<script th:inline="javascript">
    function deleteProduct() {
        let deleteBtn = document.getElementById("deleteBtn");
        // if(confirm(/*[[${i}]]*/ + "삭제하시겠습니까?")){
        if(confirm("를 삭제하시겠습니까?")){
            // deleteBtn.innerHTML(onclick(location.href = "/management/delete"));
            console.log(deleteBtn.parentElement.parentElement.id);
            location = "/management/delete";
        }
    }
</script>
</body>

</html>
