<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/head::head"/>
<body>
<header th:replace="fragments/bodyHeader::bodyHeader"/>
<nav th:replace="fragments/navigation::navigation"/>
<div class="row justify-content-center m-4">
    <div class="col text-start"><a th:href="@{product}" style="color: beige; text-decoration-line: none;">< 상품 관리</a></div>
    <h1 class="text-center" style="color : beige">주문 관리</h1>
</div>

<div th:each="s:${status}">
    <div class="col-md-12 card" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-12 mt-4 d-flex flex-column align-items-start p-3 pt-0">

            <h5 class="flex-grow-0" th:text="${s}"></h5>
            <ul class="list-group products">

                <li class="list-group-item d-flex mt-3" th:each="order:${orders.get(s)}" th:if="${order.getOrderStatus() == s}">
                    <div class="col-2">
                        <div class="row text-muted">주문일</div>
                        <div class="row" th:text="${order.getUpdatedAt().toLocalDate()}"></div>
                    </div>
                    <div class="col-3">
                        <div class="row text-muted">이메일</div>
                        <div class="row" th:text="${order.getEmail()}"></div>
                    </div>
                    <div class="col-3">
                        <div class="row text-muted">주소</div>
                        <div class="row" th:text="${order.getAddress()}"></div>
                    </div>
                    <div class="col-2">
                        <div class="row text-muted">금액</div>
                        <div class="row" th:text="${order.getPrice()}"></div>
                    </div>
<!--                    <div class="col text-end action"><a class="btn btn-small btn-outline-dark" href="">상세</a></div>-->
<!--                    -->
                </li>
            </ul>

        </div>
    </div>
    </div>
</div>


    <footer th:replace="fragments/footer::footer"/>

</body>

</html>
