<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/head::head"/>
<body>
<header th:replace="fragments/bodyHeader::bodyHeader"/>
<nav th:replace="fragments/navigation::navigation"/>
<div class="row justify-content-center m-4">
    <div class="col text-start"><a th:href="@{product}" style="color: beige; text-decoration-line: none;">< 상품 관리</a></div>
    <h1 class="text-center" style="color : beige">주문 관리</h1>
</div>

    <div class="col-md-12 card" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-12 mt-4 d-flex flex-column align-items-start p-3 pt-0">
            <h5 class="flex-grow-0">주문 현황</h5>
            <div class="row">
                <div class="col">
                    <a class="col btn btn-sm btn-outline-dark" style="font-size: 13px" th:text="전체" th:href="@{/management/order/}"></a>
                </div>
                <div class="col" th:each="s : ${status}">
                    <a class="col btn btn-sm btn-outline-dark" style="font-size: 13px" th:text="${s}" th:href="@{/management/order/{variableStatus}(variableStatus = ${s})}"></a>
                </div>
            </div>

            <ul class="list-group products">
                <li class="list-group-item mt-3" th:each="order,i:${orders}">
                    <div class="d-flex">
                        <div class="col-2">
                            <div class="row text-muted">주문일</div>
                            <div class="row" th:text="${order.getUpdatedAt().toLocalDate()}"></div>
                        </div>
                        <div class="col-3">
                            <div class="row text-muted">이메일</div>
                            <div class="row" th:text="${order.getEmail()}"></div>
                        </div>
                        <div class="col-3">
                            <div class="row text-muted">주소</div>
                            <div class="row" th:text="${order.getAddress()}"></div>
                        </div>
                        <div class="col-2">
                            <div class="row text-muted">금액</div>
                            <div class="row" th:text="${order.getPrice()}"></div>
                        </div>
                        <div class="col-2 text-end action" style="float: right">
                            <a class="btn btn-small btn-outline-dark" role="button" th:href="@{'#'+'Collapse_'+${i.index}}" data-bs-toggle="collapse" th:aria-controls="Collapse_+${i.index}" aria-expanded="false">
                                상세
                            </a>
                        </div>
                    </div>

                    <div class=" row">
                            <div class="collapse" th:id="Collapse_+${i.index}" >
                        <hr>
                                <form th:id = "${i.index}+OrderUpdateForm" th:action="@{/management/order/update}" th:object="${OrderUpdateForm}">
                                    <h3>현재 상태</h3>
                                        <select class="form-control" th:name="updateOrderStatus">
                                            <option th:each="OrderStatus : ${status}" th:text="${OrderStatus}" th:selected="${order.getOrderStatus()} == ${OrderStatus}"></option>
                                        </select>
                                    <hr/>
                                    <h3>주문 정보</h3>
                                    <input type="hidden" th:value="${order.getId()}" th:name="id">
                                    <div class="row text-muted">이메일</div>
                                    <div class="row" th:text="${order.getEmail()}"></div>
                                    <div class="row text-muted">주소</div>
                                    <div class="row" th:text="${order.getAddress()}"></div>
                                    <div class="row text-muted">우편번호</div>
                                    <div class="row" th:text="${order.getPostcode()}"></div>
                                    <div class="row text-muted">총액</div>
                                    <div class="row" th:text="${order.getPrice()}+원"></div>
                                    <hr/>
                                <ul class="list-group products">
                                    <h3>주문 상품</h3>
                                        <li class="list-group-item mt-3" th:each="item : ${order.getOrderItems()}">
                                            <div class="col">
                                                <div class="row text-muted">주문 날짜</div>
                                                <div class="row" th:text="${item.getCreatedAt().toLocalDate()}"/>
                                            </div>
                                            <br/>
                                            <div class="col">
                                                <div class="row text-muted">상품명</div>
                                                <div class="row" th:text="${item.getProduct().getProductName()}"/>
                                            </div>
                                            <br/>
                                            <div class="col">
                                                <div class="row text-muted">단가</div>
                                                <div class="row" th:text="${item.getProduct().getPrice()}+원"/>
                                            </div>
                                            <br/>
                                             <div class="col">
                                                    <div class="row text-muted">주문 수량</div>
                                                    <div class="row" th:text="${item.getCount()}"/>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                                <button class="btn btn-dark col-12" type="submit" th:form="${i.index}+OrderUpdateForm" style="margin-top: 3px; float:right">상태 저장</button>

                            </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>

    <footer th:replace="fragments/footer::footer"/>

</body>
</html>
