<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/head::head"/>
<body>
<header th:replace="fragments/bodyHeader::bodyHeader"/>
<nav th:replace="fragments/navigation::navigation"/>

<div class="row justify-content-center m-4">
    <div class="col text-end">
        <a th:href="@{/management/order}" style="color: beige; text-decoration-line: none;">주문 관리 ></a>
    </div>
    <h1 class="text-center" style="color : beige">상품 관리</h1>
</div>
<div>
    <div class="card" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-md-9 mt-4 d-flex flex-column align-items-start p-3 pt-0">
                <h5 class="flex-grow-0"><b>상품 목록</b></h5>

                <div class="row">
                    <div class="col">
                        <a class="col btn btn-sm btn-outline-dark" style="font-size: 13px" th:text="전체" th:href="@{/management/product}"></a>
                    </div>
                    <div class="col" th:each="c : ${categories}">
                        <a class="col btn btn-sm btn-outline-dark" style="font-size: 13px" th:text="${c}" th:href="@{/management/product/{variableCategory}(variableCategory=${c})}"></a>
                    </div>
                </div>

                <ul class="list-group products">
                    <li class="list-group-item mt-2" th:each="p,i:${products}" th:id="${p.getName()}"
                        th:value="${p.getId()}">
                        <div class="d-flex">
                            <div class="col-1"><img class="img-fluid" src="https://i.imgur.com/HKOFQYa.jpeg" alt="">
                            </div>
                            <input type="hidden" th:id="${p.getName}+_category" th:value="${p.getCategory()}">
                            <div class="col">
                                <div class="row text-muted" style="font-size: 10px">제품명</div>
                                <div class="row" th:text="${p.getName()}" id="name"></div>
                            </div>
                            <div class="col-2">
                                <div class="row text-muted" style="font-size: 10px">등록일</div>
                                <div class="row" th:text="${p.getUpdatedAt().toLocalDate()}"
                                     style="font-size: 12px"></div>
                            </div>
                            <div class="col">
                                <div class="row text-muted" style="font-size: 10px">가격</div>
                                <div class="row" th:text="${p.getPrice()}+'원'" style="font-size: 12px"
                                     th:id="${p.getName()}+_price"></div>
                            </div>
                            <div class="col">
                                <div class="row text-muted" style="font-size: 10px">재고</div>
                                <div class="row" th:text="${p.getQuantity()}" style="font-size: 12px"
                                     th:id="${p.getName()}+_quantity"></div>
                            </div>
                            <div class="col-1">
                                <a class="btn btn-small btn-outline-dark" style="font-size: 13px"
                                                  th:desc="${p.getDescription()}"
                                                  onclick="updateProduct(this)"
                                                  role="button" th:href="@{'#'+'Collapse_'+${i.index}}"
                                                  th:aria-controls="Collapse_+${i.index}"
                                                  data-bs-toggle="collapse"
                                                  aria-expanded="false"
                                                  th:id="${p.getName()}+_updateBtn">
                                    수정
                                </a>
                            </div>

                            <div class="col-1"><a class="btn btn-small btn-outline-danger" id="deleteBtn"
                                                  onclick="deleteProduct(this)" th:id="${p.getName()}+_updateBtn"
                                                  style="font-size: 13px">삭제</a></div>
                        </div>
                        <div class="row">
                            <div class="collapse col" th:id="Collapse_+${i.index}">
                                    <textarea th:id="${p.getName()}+summernote"></textarea>
                            </div>
                            </div>
                    </li>
                </ul>
            </div>
                    <div class="col-md-3 summary p-3">
                        <div>
                            <h5 class="m-0 p-0"><b>상품 등록</b></h5>
                            <hr>
                        </div>

                        <form id = "productForm" th:action="@{/management/product}" th:object="${productForm}" method="post">
                            <div class="mb-3">


                                <div class="form-group">
                                    <label class="form-label" >카테고리</label>
                                    <br>
                                    <select class="form-control" th:field="*{category}">
                                        <option th:each="c : ${categories}" th:value="${c}" th:text="${c}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label th:for="productName" class="form-label">상품명</label>
                                <input class="form-control mb-1" type="text" th:field="*{productName}" id="inputName">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" >가격</label>
                                <input type="number" class="form-control mb-1" th:field="*{price}" id="inputPrice">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">재고</label>
                                <input type="number" class="form-control" th:field="*{quantity}" id="inputQuantity">
                            </div>
                        </form>
                        <form id = "productUpdateForm" th:action="@{/management/product/update}" th:object="${productForm}" method="post">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label class="form-label" >카테고리</label>
                                    <br>
                                    <select class="form-control" id="updateInputCategory">
                                        <option th:each="c : ${categories}" th:text="${c}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label th:for="productName" class="form-label">상품명</label>
                                <input class="form-control mb-1" type="text" value="" th:field="*{productName}" id="updateInputName" placeholder="update">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" >가격</label>
                                <input type="number" class="form-control mb-1" value="" th:field="*{price}" id="updateInputPrice">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">재고</label>
                                <input type="number" class="form-control" value="" th:field="*{quantity}" id="updateInputQuantity">
                            </div>

                        </form>
                        <button class="btn btn-dark col-12" type="submit" form="productForm" id="submitBtn">상품 등록</button>
                        <button class="btn btn-warning col-12" type="button" form="productUpdateForm" id="updateSubmitBtn" onclick="submitUpdate()">상품 수정</button>
                        <div class="row pt-2 pb-2 border-top">
                            <a th:href="@{/management/product}" class="col text-end" style="text-decoration-line: none" id="backToRegister"> < 돌아가기 </a>
                        </div>

                    </div>
                </div>
            </div>
</div>
    <footer th:replace="fragments/footer::footer"/>
</div>
</body>
<script th:inline="javascript">
    let updateSubmitBtn = document.getElementById("updateSubmitBtn")
    let productUpdateForm = document.getElementById("productUpdateForm");
    let productForm = document.getElementById("productForm");
    let submitBtn = document.getElementById("submitBtn")
    let back = document.getElementById("backToRegister")
    let product_id;


    updateSubmitBtn.hidden=true
    productUpdateForm.hidden=true
    back.hidden=true

    function deleteProduct(e) {
        product_id = e.id;
        if(confirm(document.getElementById(e.id).parentElement.parentElement.parentElement.getAttribute("id") + " 삭제하시겠습니까?")){
            location = "product/delete"+
                "?id=" + document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("value");
        }
    }
    function updateProduct(e) {
        product_id = e.id;
        productForm.hidden = true;
        submitBtn.hidden = true;
        productUpdateForm.hidden = false;
        updateSubmitBtn.hidden = false;
        back.hidden = false;
        var note = $('#' + e.parentElement.parentElement.parentElement.getAttribute("id") + 'summernote');

        $('.show').removeClass('show');

        $(note).summernote({
        placeholder: "contents",
        tabsize: 2,
        height: 100,
        disableResizeEditor: true,
        toolbar: [
        ['style', ['bold', 'italic', 'underline']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ]});

        $(note).summernote('reset');
        $(note).summernote('insertText', e.getAttribute("desc"));


        $("#updateInputCategory").val(document.getElementById(document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("id")+'_category').value).prop("selected", true);
        document.getElementById("updateInputName").setAttribute("value", document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("id"));
        document.getElementById("updateInputPrice").setAttribute("value", document.getElementById(document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("id")+'_price').innerText.slice(0,-1));
        document.getElementById("updateInputQuantity").setAttribute("value", document.getElementById(document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("id")+'_quantity').innerText);
    }

    function submitUpdate() {
        productUpdateForm.setAttribute("action", "/management/product/update" +
            "?id=" + document.getElementById(product_id).parentElement.parentElement.parentElement.getAttribute("value") +
            "\&name=" + document.getElementById("updateInputName").value +
            "\&price=" + document.getElementById("updateInputPrice").value +
            "\&quantity=" + document.getElementById("updateInputQuantity").value +
            "\&description=" + $('.show')[0].children[0].value.replace(/(<([^>]+)>)/ig, ""));
        //  2022-10-01_yeoooo : summernote.value는 <p>,<br> 등 갖가지 태그를 같이 가져옴 -> 정규표현식을 통해 처리

        productUpdateForm.submit();
    }
</script>

</html>
